@mixin posEl(){
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 255, 0.195);
    @include posEl();
    .main_container{
        width: 90vw;
        height: 60vh;
        background-color: white;
        @include posEl();
        .main_ul{
            @include posEl();
            transition: 0.5s;
            gap: 30px;
            list-style: none;
            @for $i from 1 to 5{
                $r:random(255);
                $g:random(255);
                $b:random(255);
                // $random-color: rgb(random(255), random(255), random(255));
                li.main_li:nth-child(#{$i}){
                    background-color: rgba($r, $g, $b, 0.5);
                    transition: background-color 1s ease;
                    width: 200px;
                    height: 200px;
                    cursor: pointer;
                    &:hover{
                        background-color: rgba($r, $g, $b, 1);
                    }
                }
            }
            
            
           
        }
       
    }
}

